
<section *ngIf="!_formsUtils.objIsEmpty(res)" class="flex-one">
  <div *ngIf="res.Response==='True'; else empty" class="result__wrap">
    <div class=result__head>
        <p class=page__msg>
           search results : {{ res.totalResults }} match
         </p> 
    </div>
    <list-actions [types]="types"
      (filterByUpdate)='filter_type=$event'></list-actions>  
      <list-header [headers]='headers'
      (orderUpdate)="order_update($event)"></list-header> 
      <ul class="list-unstyled result__items">
        <li *ngFor="let movie of res.Search
              | orderBy:order_by_col:toggle_order
              | paginate: setPaginator(pageEvent)
              | filter:filter_type;"
            (click)="goTo(movie)"
          class=result__item>
            <div class=result__content>
                {{ movie.Title }}   
            </div>
            <div class=result__content>
                {{ movie.Type }}   
            </div>
            <div class=result__content>
                {{ movie.Year }}   
            </div>
        </li>  
      </ul>
      <mat-paginator [length]="res.Search.length"
        [pageSize]="items_per_page"
        [pageSizeOptions]="paginate_steps"
        (page)="pageEvent = $event">
      </mat-paginator>
  </div>
  <ng-template #empty>
      <p class=page__msg>
          No result
       </p> 
  </ng-template>
</section>
