@import "~assets/styles/components/_variables";
:host{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.page__msg{
    color: $active;
    font-weight: 500;
}

.result__head{
    padding: 1rem 0;
}

