<div class=actions__to-right>
      <form class=form--middle >
          <mat-form-field class=relative>
          <mat-select  [(ngModel)]="filterBy" name="filter_by_type" 
            placeholder="filter by type"
            (change)="newfilterByTypeSelection($event.value)">
            <mat-option *ngFor="let type of types" [value]="type">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </form>
    </div>