@import "~assets/styles/components/_variables";
.title--list-header{
    font-size: 2.2rem;
    color: $active;
    &:hover{
        color: $blue;
        cursor: pointer;
    }
}
.header__item{
    padding: 1.3rem 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}


.icon--header{
    margin-left: .5rem;
    padding-top: 0.5rem;
    font-size: 1.3rem;
}