<ul class="list-unstyled result__items">
    <li class=header__item>
      <div class=result__content
        *ngFor="let h of headers">
        <h2 class=title--list-header
          (click)="orderBy(h['slug'])">
            {{ h['viewValue'] }}   
            <span class="mi mi-Sort icon--header"></span>
        </h2>
      </div>
    </li>  
  </ul>