@import "~assets/styles/components/_variables";
:host{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header__aside{
    display: flex;
    flex-basis: 10%;
}
.search__row{
    padding-bottom: 2rem;
    justify-content: center;

}
