<div class=page__wrap>
    <header class=page__header>
        <h1 class=title--page>
            Omdb
        </h1>
        <div class=header__aside>
            <button class="btn btn-sm"
                (click)=logOut()> 
                logout
            </button>
        </div>
    </header>
    <div class=search__row>
        <search-input [datum]="datum$ | async"
            (queries)="setResp($event)"></search-input>    
    </div>
    <main class="flex-one page__content">
        <search-results
            [res]="s_res$ | async ">
        </search-results>
    </main>
</div>