<main class="card">
    <header class="page__header movie__header">
        <div class="movie__header-main">
            <h1 class=title--movie>
                {{ movie.Title}} ({{ movie.Year }})
            </h1>
        </div>
        <div class="movie__header-aside">
            <p class=rate> <span class="movie__rate"> {{ movie.imdbRating}}</span>/10 </p>    
            <p class="movie__vote">{{ movie.imdbVotes}} </p>    
        </div>
    </header>
    <section class="flex-col page__content">
        <article class="movie__content">
            <aside>
                <img class="img-fit-contain movie__img" 
                    src="{{movie.Poster}}" alt="{{ movie.Title}}">
            </aside>
            <section class="movie__summary">
                <div>
                    <p class="movie__plot">
                            {{ movie.Plot}}
                        </p>
                        <ul class=list-unstyled >
                            <li class=crew>
                                <span class=role>Director</span>   : {{ movie.Director }}
                            </li>
                            <li class=crew>
                                    <span class=role> Writer </span>: {{ movie.Writer }}
                            <li class=crew>
                                <span class=role> Stars </span> : {{ movie.Actors }}
                            </li>
                        </ul>
                </div>
                <div>
                    <div class="metascore">
                        <div class="metascore__rate-wrap">
                            <p class=metascore__rate>{{ movie.Metascore }}</p>  
                        </div>
                        <div class="metascore__source">
                            <p>Metascore</p>
                            <p >
                                from <a class=link href='http://www.metacritic.com'>metacritic</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </article>

        <mat-expansion-panel *ngIf=" movie.Awards !=='N/A'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Nominations and awards
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p> {{ movie.Awards }}</p>
        </mat-expansion-panel>
    </section>
</main>
