@import "~assets/styles/components/_variables";
.title--movie, .movie__vote,.movie__rate, .rate{
    color: white;
}
.title--movie{
    display: flex;
    flex-basis: 90%;
    font-size: $h1-size;
}
.flex-col{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.movie__header{
    background: $gradient;
    padding: 3.5rem;
}
.movie__header-main{
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
}
.movie__header-aside{
    display: flex;
    flex-direction: column;
}
.movie__rate{
    font-size: 2.7rem;
}
.movie__content{
    display: flex;
    flex-direction: row;
}
.movie__img{
    height: $img-height;
}
.movie__summary{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 6%;
    justify-content: space-between;
}
.movie__plot{
    padding: 3rem 0;
}
.role{
    font-weight: 500;
}
.metascore{
    display: flex;
    flex-direction: row;
}
.metascore__rate-wrap{
    width: 4rem;
    height: 4.2rem;
    text-align: center;
    background: $blue;
}
.metascore__rate{
    font-size: 1.5rem;
    color: white;
    line-height: 4.2rem;
}
.metascore__source{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    padding-left: 1rem;
}
