.container{
    //fallback
  background: #0060df;
  background: linear-gradient(148deg,#0060df 7%,#0479f4 20%,#0681fc 27%,#02bdf1 60%,#01d3f0 67%,#05f0e6 100%);
}
.form__content{
    display: flex;
    flex-direction: column;
}
section.panel.form__login{
    background: white;
}
.title--signin{
    font-size: 2.3rem;
    padding: 2rem 3rem;
    color: #5764c6;
}
.login__form{
    min-height: 37rem;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}
.login-form__link{
    font-size: 1.2rem;
}
.login-form__invalid{
    position: absolute;
}
.login-form__invalid-msg{
    color:#b71c1c;
}
button.failed{
    background: #b71c1c;
}
main,.panel,.login__form{
    position: relative;
}
.card--width{
 width: 40rem;
}
/*card-stack effect*/
main::before {
    content: '';
    width: 93%;
    height: .9rem;
    background-color: #fff;
    border: solid 1px #f0f1f4;
    border-radius: 2px;
    top: .1rem;
    left: 3.5%;
    position: absolute;
    z-index: 10;
    border-bottom: none;
}

  main::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1rem;
    background-color: #fff;
    border: solid 1px #f0f1f4;
    border-radius: 2px;
    z-index: 5;
    top: -.7rem;
    left: 5%;    
  }

.btn--submit{
    background:#494AFF ;
    color: white;
    border:none;
    height: 4rem;

}
.icon--login{
    position: absolute;
    right:1rem;
    font-size: 1.4rem;
    top:1rem; 
}
.icon--submitting{
    color: white;
}
input.form-input:focus{
    border-color: transparent;
    box-shadow: none;

}