@import "~assets/styles/components/_variables";

//error msg
.notify--unsaved{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
    padding: 1.5rem 0;
    background: rgba(20,35,35,.9) ;
    z-index: 150;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.notify--msg__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.notify--msg__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}
.notify--title, .notify--msg{
    color:$orange--error;
}
.notify--title{
   font-size: 2.3rem;
}
.icon--error{
    color: $orange--error;
    font-size: 2rem;
    height: 2.5rem;
    vertical-align:middle;
}
 .icon--sending{
    color:white;
    font-size:2rem;
 }
button.btn.btn--dismiss{
    display: inline-block;
    margin-right: 2rem;

}
.fail{
    color:$orange--error;
}  
.icon--success,.success{
    color: white;
}
