<div class=notify--unsaved *ngIf="msg['status']" >
    <div class=notify--msg__wrapper>
        <h2 class="notify--title success"
            *ngIf="msg['status']===200"> 
                <i class="mi mi-Accept  icon--success"></i>                
               {{ msg['statusText'] }}
        </h2 >
        <ng-template>
            <h2 class=notify--title> 
                <i class="mi mi-Error icon--error"></i> 
                {{  msg['status'] }} {{ msg['statusText'] }} 
        </h2 >
        </ng-template>
        <div>
            <p class=notify--msg  [hidden]="msg['status']===500" >
                    {{ msg['error']?.description }} 
             </p>
        </div>
    </div>
        <button class="btn btn-link" 
        [ngClass]="{  'success':msg['status']===200,'fail':msg['status'] !==200 }"  (click)="dismiss_notif()">dismiss</button>             
</div> 