<main>
 <div class="content-wrap">
   <aside class="content__aside">
      <svg class=svg-wrap id="Layer_1" style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="XMLID_1347_"><path class='ghost' d="   M2.5,23.5c1.19,0,1.19-1,2.38-1s1.19,1,2.38,1c1.188,0,1.188-1,2.376-1s1.188,1,2.375,1s1.187-1,2.375-1c1.186,0,1.186,1,2.372,1   c1.184,0,1.184-1,2.369-1c1.187,0,1.187,1,2.374,1l-0.638-4.467c-0.241-1.686-0.362-3.388-0.362-5.091v-4.65   c0-4.527-3.416-8.48-7.934-8.773C7.615,0.198,3.5,4.119,3.5,9.001v4.942c0,1.703-0.121,3.405-0.362,5.091L2.5,23.5z" id="XMLID_1348_" style="stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"/><ellipse class=ghost-eye cx="9" cy="9" id="XMLID_1349_" rx="0.5" ry="1.5" style="stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"/><ellipse class=ghost-eye cx="15" cy="9" id="XMLID_1350_" rx="0.5" ry="1.5" style="stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"/></g></svg>
  </aside>
   <section class=content__main>
      <h1 class="title--page">404</h1>
      <h2 class="subtitle--page"> We can't seem to find the page you're looking for.</h2>
    
      <p class=msg> 
        You could go back to our <a class=link (click)='goHome()'>home page</a>
      </p>
   </section>
 </div>


</main>

