@import "~assets/styles/components/_variables";

:host{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: $light-grey;
}
main{
    display: flex;
    flex: 1;
    justify-content: center;


}
.content-wrap, .content__aside,.content__main{
    display: inline-flex;
}
.content-wrap{
    flex-basis: 80%;
    padding-top: 5%;
    align-items: flex-start;
}
.content__aside{
    flex-basis: 30%;
    justify-content: center;
}
.svg-wrap{
    height: 100%;
    width: 65%;
}
.ghost, .ghost-eye{
    fill:$blue;
    stroke: white;
}

.content__main{
    flex-basis: 70%;
    flex-direction: column;
}
.title--page, .subtitle--page, .msg{
    color:$active;
    text-transform: initial;
}
.icon--page{

}
.title--page{
    font-weight: 500;
    font-size:5rem;
    padding-bottom: .5rem;
}
.subtitle--page{
    font-size:2.5rem;
    padding-bottom: 1rem;
}
.msg{
    font-size: 1.5rem;
}
.link{
    text-decoration: underline;
    color:$blue;
    &:hover{
        cursor: pointer;
    }
}