@import "~assets/styles/components/_variables";
:host{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
label{
    color: $active;
}
.btn--submit{
    background: $blue;
    color: white;
    border: .1rem solid white;
    padding: 0 3rem;
    &:hover{
        background: white;
        color: $blue;
        border: .1rem solid $blue;
    }
}
button.btn:focus {
    color: $blue;
    border: .1rem solid $blue;
}

.form__wrap{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
}
.form__inputs{
    display: flex;
    flex-basis: 75%;
    justify-content: space-around;
    align-items: flex-end;
}
.form__submit-wrap{
    display: flex;
    flex-basis: 15%;
    position: relative;
    padding-bottom: .5rem;
}
.form__input-wrap{
    position: relative;
}
.error__msg, .invalid__msg{
    color: $danger;
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: 500;
}
.error__msg{
    position: absolute;
}
.invalid{
    position: absolute;
    top: 3rem;
    left: 40%;
}
