<form [formGroup]="form"
  class=form__wrap
  (ngSubmit)="query()">
  <div class=form__inputs>
    <div  class="form__input-wrap">
      <mat-form-field >
        <label for="search">title</label>
          <input formControlName="search"
              name="search"
              matInput 
              type="text"  />
        </mat-form-field>
    </div>
    <div  class="form__input-wrap">
        <mat-form-field>
            <label for="type">type</label>
            <mat-select 
            formControlName="type">
              <mat-option *ngFor="let t of types" [value]="t['slug']">
                {{ t['viewValue'] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div  class="form__input-wrap">
        <mat-form-field >
          <label for="year">Year</label>
            <input formControlName="year"
                name="year"
                matInput 
                type="number"  />
          </mat-form-field>
          <mat-error *ngIf="_formsUtils.getSubForm(form, 'year').errors">
            <span class="error__msg"
                name="year_invalid">
                the value should be between {{ min_y }} and {{ max_y }} 
            </span> 
        </mat-error>
    </div>
  </div>
  <div class="form__submit-wrap btn-group btn-group-block">  
    <button [disabled]="!form?.dirty"
      class="btn btn-link"
      (click)="undo()"
      type="button">
      cancel
    </button>
    <div (mouseenter)='is_hovered=true'
        (mouseleave)='is_hovered=false'>
        <button [disabled]="form?.invalid"
        class="btn btn--submit"
        type="submit">
        search
      </button>
    </div>
    <div *ngIf='is_hovered && form.invalid'
      class='invalid'>
        <p class="invalid__msg">
          no title to look for
        </p> 
      </div>
  </div> 
</form>
