@import 'vendors/_imports';
@import 'components/_imports';

/*/style générale de la page
*/
html
{
  height: 100vh;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1;
  color:$color;
  font-family: "Roboto","Helvetica Neue", Helvetica,Arial,sans-serif;

}
body {
  position: relative;
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100vh;
}




@import '_override';
@import '_medias-queries';
